{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "replace-import-extension",
      {
        "extMapping": {
          "": ".js"
        }
      }
    ]
  ]
}
